{% extends 'layout.html' %}
{% block css %}
    <style>


    </style>
{% endblock %}

{% block content %}
<div class="layui-row">
    <div class="layui-col-md6">
        <div class="layui-card" style="margin: 20px">
        <div class="layui-card-header">新增数据</div>
        <div class="layui-card-body">
            <form class="layui-form" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="layui-form-item">
                        <label class="layui-form-label">{{ field.label }}<div class="layui-form-mid layui-word-aux" style="float: left"></div></label>
                        <div class="layui-input-block">
                            {{ field }}
                        </div>
                        <span style="color: red">{{ field.errors.0 }}</span>
                    </div>
                {% endfor %}

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formDemo" style="width: 190px">保存</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
</div>

{% endblock %}