<!--通用的新增和修改页面-->
{% extends 'layout.html' %}
{% load rbac %}
<!--虽然有模板但是！！每个单独页面可以独立添加自己的css-->
{% block css %}
    <style>
        tr.active {
            border-left: 3px solid #009688;
        }

        table {
            font-size: 12px;
        }

        .collapse-color {
            background-color: #ebf6f5;
        }
    </style>
{% endblock %}
{% block content %}
    <div style="padding: 20px;">
        <div class="layui-row layui-col-space15">
            <!--用户-->
            <div class="layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-header"><i class="fa fa-user-circle" aria-hidden="true"></i> 用户</div>
                    <div class="layui-card-body" style="padding: 0">
                                            <span style="color: #9d9d9d; padding-left: 15px"><i
                                                    class="fa fa-exclamation-triangle"
                                                    aria-hidden="true"></i> 点用户名选择用户操作</span>
                        <table class="layui-table" style="margin: 0">
                            <tbody>
                            {% for row in user_list %}
                                <tr class="{% if row.id|safe == user_id %}active{% endif %}">
                                    <td><a href="?uid={{ row.id }}">{{ row.name }}</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!--角色-->
            <div class="layui-col-md3">
                <div class="layui-card">
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="type" value="role">
                        <div class="layui-card-header"><i class="fa fa-users" aria-hidden="true"></i> 所属角色
                            {% if user_id %}
                                <button class="right layui-btn layui-btn-sm" style="margin: 6px 0">
                                    <i class="fa fa-save" aria-hidden="true"></i> 保存
                                </button>
                            {% endif %}
                        </div>
                        <div class="layui-card-body" style="padding: 0">
                        <span style="color: #9d9d9d; padding-left: 15px"><i class="fa fa-exclamation-triangle"
                                                                            aria-hidden="true"></i> 注意：先选择用户后才能为其分配角色</span>
                            <table class="layui-table">
                                <thead>
                                <tr style="background-color: #00968817">
                                    <th>角色</th>
                                    <th>选项</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for row in role_list %}
                                    <tr class="{% if row.id|safe == role_id %}active{% endif %}">
                                        <td>
                                            {% if user_id %}
                                                <a href="?uid={{ user_id }}&rid={{ row.id }}">{{ row.title }}</a>
                                            {% else %}
                                                <a href="?rid={{ row.id }}">{{ row.title }}</a>
                                            {% endif %}
                                        </td>
                                        <td><input type="checkbox" name="roles" value="{{ row.id }}"
                                                   {% if row.id in user_has_roles_dict %}checked{% endif %}></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>

            <!--权限分配-->
            <div class="layui-col-md6">
                <div class="layui-card">
                    <form class="layui-form" action="" method="post">
                        {% csrf_token %}
                        <div class="layui-card-header"><i class="fa fa-share-alt " aria-hidden="true"></i> 权限分配
                            {% if role_id %}
                                <button class="right layui-btn layui-btn-sm" style="margin: 6px 0">
                                    <i class="fa fa-save" aria-hidden="true"></i> 保存
                                </button>
                            {% endif %}
                        </div>
                        <div class="layui-card-body" style="padding: 0">
                            <div style="height: 28px;">
                                    <span style="color: #9d9d9d; padding-left: 15px;"><i
                                            class="fa fa-exclamation-triangle"
                                            aria-hidden="true"></i> 选择用户账号 --> 给这个账号分配角色 --> 给角色分配权限</span>
                            </div>
                            <input type="hidden" name="type" value="permission">
                            <div class="layui-collapse" lay-accordion>
                                {% for item in all_menu_list %}
                                    <div class="layui-colla-item">
                                    <h2 class="layui-colla-title collapse-color root">{{ item.title }}</h2>
                                    {% if forloop.first %}
                                        <div class="layui-colla-content layui-show">
                                    {% else %}
                                        <div class="layui-colla-content">
                                    {% endif %}
                                {% if item.children %}
                                    {% for node in item.children %}
                                        <div>
                                            <input id="permission_{{ node.id }}" value="{{ node.id }}" type="checkbox"
                                                   name="permissions" lay-skin="primary" title="{{ node.title }} (菜单)"
                                                   {% if node.id in user_has_permissions_dict %}checked{% endif %}>
                                            <div style="margin-left:40px; margin-top: 5px">
                                                {% for child in node.children %}
                                                    <input type="checkbox" id="permission_{{ child.id }}"
                                                           name="permissions" title="{{ child.title }}"
                                                           lay-skin="primary" value="{{ child.id }}"
                                                           {% if child.id in user_has_permissions_dict %}checked{% endif %}>
                                                {% endfor %}
                                            </div>
                                            {% if not forloop.last %}
                                                <br>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                </div>
                                </div>
                                {% endfor %}
                                </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
