{% extends 'layout.html' %}

{% block content %}

    <!--待添加的-->
    <div style="padding: 20px 20px 5px 20px">
        <div class="layui-card">
            <form class="layui-form" action="?type=generate" method="post">
                {% csrf_token %}
                {{ generate_formset.management_form }}
                <div class="layui-card-header"><i class="fa fa-spinner" aria-hidden="true"></i> 路由中存在但数据库中没有</div>
                <div class="layui-card-body" style="padding: 10px 0 0 0">
                    <span style="color: #9d9d9d; padding-left: 15px"><i class="fa fa-exclamation-triangle"
                                                                        aria-hidden="true"></i> 注意：路由系统中自动发现且数据库中不存在的路由。</span>
                    <table class="layui-table" style="margin: 0">
                        <thead>
                        <tr style="background-color: #00968817">
                            <th>序号</th>
                            <th>名称</th>
                            <th>URL</th>
                            <th>别名</th>
                            <th>所属菜单</th>
                            <th>父权限</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for form in generate_formset %}
                            <tr>
                                <td style="">{{ forloop.counter }}</td>
                                {% for field in form %}
                                    <td>
                                        <div class="">
                                            {{ field }}<span style="color: red;">{{ field.errors.0 }}</span>
                                        </div>
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block" style="float: right; padding: 5px">
                        <button class="layui-btn" lay-submit lay-filter="formDemo"><i class="fa fa-plus-circle"
                                                                                      aria-hidden="true"></i> 提交新建
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--待删除的-->
    <div style="padding: 0 20px">
        <div class="layui-card">
            <form class="layui-form" action="?type=generate" method="post">
                {% csrf_token %}
                {{ generate_formset.management_form }}
                <div class="layui-card-header"><i class="fa fa-circle-o-notch" aria-hidden="true"></i> 数据库中存在但是路由没有</div>
                <div class="layui-card-body" style="padding:0">
                    <table class="layui-table">
                        <thead>
                        <tr style="background-color: #00968817">
                            <th>序号</th>
                            <th>名称</th>
                            <th>URL</th>
                            <th>别名</th>
                            <th>删除</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in delete_row_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ row.title }}</td>
                                <td>{{ row.url }}</td>
                                <td>{{ row.name }}</td>
                                <td>
                                    <a href="{% url 'rbac:multi_permissions_del' pk=row.id %}" style="color: #d9534f;"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>

    <!--待更新的-->
    <div style="padding: 20px 20px 5px 20px">
        <div class="layui-card">
            <form class="layui-form" action="?type=update" method="post">
            {% csrf_token %}
            {{ update_formset.management_form }}
                <div class="layui-card-header"><i class="fa fa-undo" aria-hidden="true"></i> 待新建权限列表</div>
                <div class="layui-card-body" style="padding: 10px 0 0 0">
                    <table class="layui-table" style="margin: 0">
                        <thead>
                        <tr style="background-color: #00968817">
                            <th>序号</th>
                            <th>名称</th>
                            <th>URL</th>
                            <th>别名</th>
                            <th>所属菜单</th>
                            <th>父权限</th>
                        </tr>
                        </thead>
                        <tbody>
                      {% for form in update_formset %}
                        <tr>
                            <td style="">{{ forloop.counter }}</td>
                            {% for field in form %}
                                {% if forloop.first %}
                                    {{ field }}
                                {% else %}
                                    <td>{{ field }}<span style="color:red;">{{ field.errors.0 }}</span></td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block" style="float: right; padding: 5px">
                        <button class="layui-btn" lay-submit lay-filter="formDemo"><i class="fa fa-plus-circle"
                                                                                      aria-hidden="true"></i> 更新
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}