<!--通用的新增和修改页面-->
{% extends 'layout.html' %}


{% block content %}
    <div class="layui-row">
        <div class="layui-card layui-col-md6" style="margin: 20px">
            <div class="layui-card-header">角色管理
                <div style="float: right;">
                    <!--因为rbac的urls有上级urls所以 ，反向生成url的方法如下-->
                    <a class="layui-btn layui-btn-sm" href="{% url 'rbac:role_add' %}">  <!--反向生成url-->
                        <i class="fa fa-plus-square" aria-hidden="true"></i> 添加角色
                    </a>
                </div>
            </div>
            <div class="layui-card-body" style="padding: 0">
                <table class="layui-table" style="margin: 0;">
                    <thead>
                    <tr style="background-color: #00968817">
                        <th>ID</th>
                        <th>名称</th>
                        <th>选项</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in roles %}
                        <tr>
                            <td>{{ row.id }}</td>
                            <td>{{ row.title }}</td>
                            <td>
                                <a style="color: #333333;" href="{% url 'rbac:role_edit' pk=row.id %}">
                                    <!--反向取url 带参数pk-->
                                    <i class="fa fa-edit" aria-hidden="true"></i></a>

                                <a style="color: #d9534f;" href="{% url 'rbac:role_del' pk=row.id %}"><i
                                        class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}